div.alliance img.a4_8 {
    background-image: url("../../../img/t/a4_8.jpg");
}

div.alliance img.a4_9 {
    background-image: url("../../../img/t/a4_9.jpg");
}

div.alliance img.a4_10 {
    background-image: url("../../../img/t/a4_10.jpg");
}

div.alliance div#submenu img, div.statistics div#submenu img {
    background-position: 0 top;
    height: 30px;
    width: 30px;
}

div.alliance div#submenu img.active, div.statistics div#submenu img.active {
    background-position: 0 bottom;
}

div.alliance div#submenu img.btn_def, div.statistics div#submenu img.btn_def {
    background-image: url("../../../img/s/def.gif");
}

div.alliance div#submenu img.btn_off, div.statistics div#submenu img.btn_off {
    background-image: url("../../../img/s/off.gif");
}
div.alliance div#submenu img.btn_loot, div.statistics div#submenu img.btn_loot {
    background-image: url("../../../img/s/loot.gif");
}
div.alliance div.chatHeader {
    background-image: url("../../../img/a/c2.gif");
    background-repeat: repeat;
}